
    @import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

    @font-face {
        font-family: ANUNE;
        src: url(../assets/fonts/ANUNE___.TTF);
    }
    @font-face {
        font-family: Edda;
        src: url(../assets/fonts/EddaFilled.ttf) format('ttf');
    }

    @font-face {
        font-family: Ogg-italic;
        src: url(../assets/fonts/Ogg_Italic.svg) format('svg'),
            url(../assets/fonts/Ogg_Italic.woff) format('woff'),
            url(../assets/fonts/ogg_italic.otf);
    }

    @font-face {
        font-family: Ogg;
        src: url(../assets/fonts/Ogg_Roman.svg) format('svg');
    }
    /*///////////Under construction//////////*/
    .under-construction{
        display: inline;
        color:#5a8a4e;
        animation: blink 2s step-end infinite; 
    }
    @keyframes blink {
        67% { opacity: 0 }
      }

    


     :root {
        --container-width: 375px;
        --container-padding: 1.25rem; 
        --container-margin: 4vw;
    }
    
    @media(min-width: 480px) {
        :root {
            --container-width:480px;
            --container-padding: 1.5rem; 
        }
    }
    
    @media(min-width: 1024px) {
        :root {
            --container-width:1024px;
            --container-padding: 2rem;
            --container-margin: 4.5vw;
        }
    }
    
    @media(min-width: 1440px) {
        :root {
            --container-width:1440px;
            --container-padding: 4rem;
        }
    }  


      
    *{
        box-sizing:border-box;
        margin: 0;
        border: none !important;
        font: inherit;
        padding: 0;
        margin: 0;
        list-style: none;
        
    } 

    body{
        background-color:#EFEDE7;
        font-family: 'Space Mono';
        font-size: 0.7rem;
        color: rgb(97, 97, 97); 
    }

    a{ 
        color: inherit;
        text-decoration: none;
    }

    a:hover{
        text-decoration: underline;
    }

    /*meter esto en normalize general*/
    
    p {
      
    }

    h2{
        font-size: 1rem; 
    }
    

   
    .nolinebreak{
        white-space: nowrap;
    }

    .linebreak{
        display: block;
    }

    @media all and (max-width: 600px){
        p {
            font-size: 0.8rem;
        }
    }


    .link-text{
        color: #036e60;
        text-decoration: underline;
    }

    ::selection { 
        color: #0a636e;
      }

/*///////////Cursor//////////*/
.cursor {
    z-index: -2;
    position: fixed;
    left: 51vh;
    top: 5vh;
    width: 72vw;
    height: 72vw;
    border-radius: 100vw;
    background-color: rgba(255, 172, 241, 0.3);
    opacity: 1;
    -webkit-filter: blur(10vw);
    filter:blur(10vw);
    transform: translate(-50%, -50%);
}

 
/*Under construction msg*/
.img_title {
    display: table;
    background: #888888;
    color: white;
    position: absolute;
    padding: 0 0.2em;
}
.image_container {
    cursor: none;
    display: table;    
}

/*///////////NAVBAR//////////*/
#menu-ss{
    display: none;
}
.menu-bs{ 
    top: 0;
    width: 100%;
    z-index: 2;
}

.hv{
    display: inline;
    margin-right: 6rem;
}

.menu-bs .list{
    float: right;
    margin-bottom: 6rem;
}

.list li{
    margin: 0 0 0 0.7rem;
    display: inline;
}

/*////navbar & toggle////*/
@media all and (max-width: 600px){

    .menu-bs{
        display: none;
    }
    #menu-ss{
        display: block;
        position: relative;
        z-index: 2;  
        padding: 2vw;
         
        }
    
        .open-menu{
            position: absolute; 
            top: -1.4vw;
            right: 2.4vw;
            z-index: 2;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
        }
    
        .close-menu{
    
            position: absolute; 
            top: -1.4vw;
            right: 2.4vw;
            z-index: 2;
            font-size: 2rem;
            text-align: center;
            text-decoration: none;
        }
        
        .menu-content{
            position: fixed;
            top: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background-color: #efede7;
        }
    
        .menu-items{
            margin: 2rem;
            font-size: 0.8rem;
            
            
        }

        .menu-items li{
            margin-bottom: 0.6rem;
        }
    
       
         /*hide menu*/
         .menu-content{
            display: none;
        }
        /*hide close toggle*/
        #menu-toggle a.close-menu{
            display: none;
        }
       
        /*display menu content*/
        #menu-ss:target .menu-content{
            display: block;
            /*muestra menu-content cuando menu-uib esté :target*/
        }
    
        /*hide open toggle link*/
        #menu-ss:target #menu-toggle a.open-menu{
            display: none;
        }
    
        /*show close toggle link*/
        #menu-ss:target #menu-toggle a.close-menu{
            display: block; }
}

/*///////////-Header-//////////*/
#global-header {
    position: fixed;
    top: 1vw;
    width: 100%;
    padding: 0 1.5vw;;
    z-index: 999;
}




  


/*-- Home --*/
#home-sect{
    position: relative;
    height: 100vh;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    padding: 4vw 6vw;
}

.projects-list{
    width: 45%;
    min-width: 550px;
    align-self: flex-end;
}

.projects-list li{
    margin: 2.2vw 0; 
}

.projects-list a{
    opacity: 0.8; 
}

#neo-title-1{
    display: block;
}
#neo-title-2{
    display: none;
}

@media all and (max-width: 768px){
    .projects-list{
        width: 100%;
        min-width: unset;
        align-self: flex-end;
    }

    .projects-list li{
        margin: 7vw 0; 
    }

    #plist-bot img{
        width: 66% !important;
    }

    #neo-fantasy-tales img{
        width: 92% !important;
    }
    #plist-real img{
        width: 45% !important;
    }
    #plist-lost img{
        width: 100% !important;
    }
    #plist-vanitas img{
        width: 85% !important;
    }
    #plist-oldworks img{
        width: 60% !important;
    }

    #neo-title-1{
        display: none;
    }
    #neo-title-2{
            display: block;
    }
}


/*-- About, news, contact --*/
.anc-container{ 
    padding: 17vh 4.3vw; 
}

.anc-container article{
    position:relative;
    width: 80ch;
}

#about-sect article:nth-child(2){
    margin-top: 6vw; 
}

#news-sect article p::before{
    content: "⊹ ";
}

@media all and (max-width: 600px){
    .anc-container article{ 
        width: 100%;
        min-width:unset;
    }

    .anc-container{ 
        padding: 12vh 4vw; 
    }
}


  


/*-- Neo Fantasy Tales --*/
#neo-fantasy{
    padding: 10vw 2vw;
}

#neo-fantasy h2{
    font-family: 'Edda';
    color: rgb(77, 77, 77);
    font-size: 1.8rem;
    margin-bottom: 3vw;
}
#neo-fantasy h2 .linebreak{
    font-size: 1.2rem;
}

.neo-content{ 
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;  
    text-align: center;
    margin-top: 2rem;
}

.neo-content *{ 
    margin-bottom: 4rem;

}
.neo-content img{
    width: 58%; 
}

.neo-content p:nth-child(2){
    width: 73ch;
    font-size: 0.6rem;
}

.neo-content p:nth-child(3){
    width: 90ch;
    margin-bottom: 2.4rem;
}

@media all and (max-width: 800px){
    #neo-fantasy{
        padding: 20vw 2vw;
    }
    .neo-content img{
        width: 100%; 
    }
    .neo-content p:nth-child(2){
        width: 70%; 
    }
    .neo-content p:nth-child(3){
        width: 90%; 
    }
}

/*-- 100% REAL --*/
#cien-real-sect{
    background-color: black; 
    padding-top: 7vw;
    display: grid;
    grid-template-areas: 
            "a b"
            "c c"
            "d d";
}

#cien-real-sect article{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
}

#cien-real-sect article:nth-child(1){ 
    grid-area: a;
    margin-left: 2vw; 
}

#cien-real-sect article:nth-child(2){ 
    grid-area: b;
    justify-content: flex-start;
    top: -6vh;
}

#cien-real-sect article:nth-child(3){ 
    grid-area: c; 
}
#cien-real-sect article:nth-child(3) img{ 
    width: 100%;
    height: 100%;
}

#cien-real-sect article:nth-child(4){ 
    grid-area: d;
    justify-content: flex-end;
    flex-direction: row;
}

#cien-real-sect article:nth-child(4) video{ 
    height: 80%;
    height: 80%;
    align-self: center;
    margin-right: 4vw;
}
 
 

.cien-piedefoto{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 85ch; 
    margin: 2vw;
    font-size: 0.6rem;
    color: rgb(189, 189, 189);
}

.cien-video-desk{
    display: block;
}

.cien-video-mbl{
    display: none;
}
 
@media all and (max-width: 800px){
    #cien-real-sect{
        padding: 20vw 2vw;
        grid-template-rows: auto;
        grid-template-areas: unset;
    }

    #cien-real-sect article{
        height: unset;
    }

    #cien-real-sect article:nth-child(2){
        height: 60vh; 
        top: 0;
    }

    #cien-real-sect article:nth-child(1),
    #cien-real-sect article:nth-child(2),
    #cien-real-sect article:nth-child(3),
    #cien-real-sect article:nth-child(4){
        grid-area: unset;
        margin-left: 0; 
        flex-direction: column;
    }


    .cien-piedefoto{
        position: relative;
        bottom: 0;
        width: 100%;
        font-size: 0.6rem;
        padding: 2vw;
        margin: 0;
    }

    #cien-real-sect article:nth-child(4) video{
        width: 100%; 
        margin-right: 0;
    }

    .cien-video-mbl iframe{ 
        width: 100%;
    }

    .cien-video-desk{
        display: none;
    }
    
    .cien-video-mbl{
        display: block;
    }
    
} 



/*-- I lost a picture I had saved --*/
:root{
    --lost-font-color: #584667;
    --lost-desc-color: #584667a4;
    --lost-pink-color: rgb(243, 187, 253);
    --lost-pink-link: #894a95;
    --lost-vertical-gap: 30vh;
    --lost-row-gap: 12vh;
}

@media only screen and (max-width: 700px){
    :root{
        --lost-vertical-gap: 20vh;
        --lost-row-gap: 5vh;
    }
}


#lost-picture{ 
    margin:  16vh  var(--container-margin);
    color: var(--lost-font-color);  
}

#lost-picture article, footer{
    margin-bottom: var(--lost-vertical-gap);
    position: relative;
}

#lost-header{
    position: relative;
    text-align: right; 
    margin-bottom: calc(var(--lost-vertical-gap) / 2);
}

#lost-picture p{
    font-size: 0.9rem;
}
#lost-picture img{
    position: relative;
}

#lost-picture .link-text{
    color: var(--lost-pink-link); 
    line-height: 1.2rem;
}

#lost-picture .link-text:hover{
    text-shadow: 3px 4px 9px var(--lost-pink-color);
}

.jpg-shadow:hover{
    box-shadow: 0px 0px 18px var(--lost-pink-color);
}

#lost-picture h2::selection, p::selection, .nolinebreak::selection{
    color: inherit;
    text-shadow: 3px 4px 9px var(--lost-pink-color);
}


#lost-header h2{
    font-family: 'ANUNE';
    font-size: 3vw;
    color: var(--lost-font-color);
    filter: drop-shadow(2px 4px 4px hsl(243deg 50% 25% / 0.2 ));
}
 
.lost-desc{ 
    position: relative;
    width: 60%;  
    margin-top: 1rem;
}

#lost-picture p.lost-desc{
    font-size: 0.6rem;
    color: var(--lost-desc-color);
}

 .grad-spot::before{
    position: absolute;
    content: '';
    width: 100%;
    height: 120%;
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 70%);
    z-index: -1;
} 

.lost-mobile-hide{
    display: inline-block;
}

.lost-mobile-show{
    display: none ;
}

@media only screen and (max-width: 700px){
    .lost-mobile-hide{
        display: none !important;
    }

    .lost-mobile-show{
        display: inline-block;
    }

    #lost-picture{
        margin:  12vh  var(--container-margin);
    }
    #lost-header{
        margin-bottom: 4vh;
    }
    #lost-header h2{ 
        font-size: 1.5rem; 
    }

    .grad-spot::before{
        background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 50%);
    } 

    #lost-picture .lost-desc{  
        width: 90%;   
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
        margin-top: 0;
        align-self: flex-start;
    }
}

/*Article 1*/
.lost1{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--lost-row-gap); 
}

.lost1 img:nth-child(1){
    width: 50%; 
}

.lost1 img:nth-child(2){
    justify-self: end;
    width: 68%;
}

@media only screen and (max-width: 700px){
    .lost1 img:nth-child(1), 
    .lost1 img:nth-child(2){
        width: 100%;
    }
}



/*Article 2*/
.lost2-llavetext{
    margin: 10vh calc(var(--container-margin) * 2);
    display: grid;
    grid-template:  min(200px) 1fr / 0.8fr 2fr 0.2fr;
}

.lost2-llavetext img{
    grid-row: 1;
    bottom: -11%;
    width: 100%; 
    align-self: end;
    justify-self: end;
    filter: drop-shadow(1px 2px 2px hsl(243deg 20% 25% / 0.5 ));
}

.lost2-text{
    grid-column: 2;
    grid-row: 2;   
}

.lost2-es-en{
    grid-column: 3;
    grid-row: 2; 
}

.lost2-llavetext.grad-spot::before{
    top: -42vh;
    left: -30vw;
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 80%);
}

@media only screen and (max-width: 700px){
    .lost2-llavetext{
        margin:0;
        grid-template-columns: 1fr;
        row-gap: calc(var(--lost-row-gap) * 2);
    }
    .lost2-llavetext img{
        width: 50%;
        top: 0;
        justify-self: center;
    }

    .lost2-text{
        grid-column: auto;
    }

    .lost2-llavetext.grad-spot::before{
        top: -85vh;
        left: 0;
        background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 43%);
    }
} 


/*Article 3*/
.lost3-risefall{  
    display: grid;
    grid-template: repeat(2, 50%)/ repeat(2, 50%);
}
 
.lost3-risefall img{
    max-width: 100%; 
} 

.lost3-risefall.grad-spot::before{ 
    top: -10%;
} 

.lost3-risefall img:nth-child(1){
    width: 100%;
    right: -7vw;
    justify-self: end;
}

.lost3-risefall img:nth-child(2){
    width: 80%;
    bottom: -15vh;
    left: 3vw;
    align-self: end;
}

.lost3-risefall img:nth-child(3){
    width: 70%;
    top: 6vw;
    right: 2vw;
    justify-self: end;
}
 

.lost3-risefall .lost-desc{  
    bottom: -15vh;
    left: 3vw; 
}

@media only screen and (max-width: 700px){
    .lost3-risefall{
        grid-template: 1fr / 1fr;
        row-gap: var(--lost-row-gap);
    }

    .lost3-risefall img:nth-child(1),
    .lost3-risefall img:nth-child(2),
    .lost3-risefall img:nth-child(3){
        width: 100%; 
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }  
} 
 


/*Article 4*/
.lost4-cora{ 
    display: flex; 
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    justify-content: flex-end; 
}

.grad-cora{ 
    position: relative; 
    max-width: max(300px, 20vw);
}

.lost4-cora img{
    width: 100%; 
    filter: drop-shadow(1px 2px 2px hsl(243deg 20% 25% / 0.5 ));
    left: -3vw;
}

.grad-cora.grad-spot::before{ 
    width: 200%;
    height: 200%;
    left: -82%;
    top: -27%;
}

@media only screen and (max-width: 700px){
    .grad-cora.grad-spot::before{ 
        width: 100%;
        height: 100%;
        left: 0%;
        top: 0%;
    }

} 


/*Article 5*/
.lost5-mesa{ 
    display: grid;
    grid-template: repeat(2, 50vh)/ repeat(2, 50%);
}

.lost5-mesa img:nth-child(1){
    width: 110%;
    justify-self: end;
    align-self: end;
    right: -12vw;
    bottom: -13vw;
}

.lost5-mesa img:nth-child(2){
    width: 60%;
    justify-self: start;
    align-self: end;
    grid-column: 2;
    grid-row: 2;
    left: 6vw;
}

.lost5-mesa .lost-desc{
    grid-area: 3 / 2;
    left: 6vw;
}

.lost5-mesa.grad-spot::before {  
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 50%);
}

@media only screen and (max-width: 700px){
    .lost5-mesa{
        grid-template: 1fr / 1fr;
        row-gap: var(--lost-row-gap);
    }

    .lost5-mesa .lost-desc{
        grid-area: 3 / 1; 
        left: 0;
    }

    .lost5-mesa img:nth-child(1){
        width: 100%; 
        right: 0;
        bottom: 0;
    }

    .lost5-mesa img:nth-child(2){
        grid-column: 1;
        width: 100%; 
        left: 0;
        top: 0;
    }
} 
 

/*Article 6*/
.lost6{
    display: flex; 
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
    gap: var(--lost-row-gap);
    align-items: flex-end;
    width: max(340px, 40%);
}
 
.lost6 img:nth-child(1){
    width: 50%; 
    filter: drop-shadow(1px 2px 2px hsl(243deg 20% 25% / 0.5 ));
}

.lost6 img:nth-child(2){ 
    width: 100%; 
}


/*Article 7 - Cortinas*/
.lost7-cortinashh{
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
}
.lost7-cortinashh > img{ 
    align-self: flex-end;
    width: 10%;
    width: max(100px, 7%);
}

.lost7-cortinas{
    display: grid;
    margin: var(--lost-vertical-gap) 4vw calc(var(--lost-vertical-gap) / 2) 4vw;
    grid-template-columns: repeat( auto-fill, minmax(330px, 1fr));
    row-gap: var(--lost-row-gap);
} 

@media (min-width: calc(350px * 3)) {
    .lost7-cortinas{
        grid-template-columns: repeat( auto-fill, minmax(30%, 1fr));
        margin: var(--lost-vertical-gap) 0;
    }
  }
 

.grad-cort{ 
    position: relative;
    width: 80%;
    margin: auto; 
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
}

.grad-cort.grad-spot::before{ 
    width: max(350px, 160%);
    height: 200%;
    top: -47%; 
}


.lost7-cortinas img{
    width: 100%;
    margin: auto;
    filter: drop-shadow(1px 2px 2px hsl(243deg 20% 25% / 0.5 ));
}

.lost7-cortinashh .lost-desc{
    align-self: flex-end;
    width: 24vw;
}

@media only screen and (max-width: 700px){
    .lost7-cortinas{ 
        margin: var(--lost-vertical-gap) -4vw calc(var(--lost-vertical-gap) / 2) -4vw;
    } 

    .lost7-cortinas img{
        width: 90%; 
    }

    .grad-cort.grad-spot::before{ 
        background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 190%);
        width: max(350px, 100%); 
        top: -47%; 
    }
    .grad-cort{
        width: 100%;
    }
    .lost7-cortinas .lost-desc{
        align-self: flex-end;
        width:60%;
    }
}


/*Article 8 - Sala*/
.lost8-sala{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    row-gap: var(--lost-row-gap);
}

.lost8-sala.grad-spot::before{
    top: -10vh;
    left: -21vw;
}

.lost8-sala.grad-spot::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 45vh;
    right: -2vw;
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 70%);
    z-index: -1;
}


.lost8-sala img:nth-child(1){
    width: 105%;
    grid-column-start: 2;
    justify-self: right;
}

.lost8-sala img:nth-child(2){
    width: 80%;
    justify-self: left;
    left: 2vw;
}

.lost8-sala img:nth-child(3){
    width: 50%;
    justify-self: center;
    align-self: center;
}


@media only screen and (max-width: 700px){
    .lost8-sala{
        grid-template: 1fr / 1fr;
    }

    .lost8-sala img:nth-child(1),
    .lost8-sala img:nth-child(2),
    .lost8-sala img:nth-child(3){
        width: 100%; 
        left: 0; 
        grid-column-start: auto;
    }  

    .lost8-sala.grad-spot::after,
    .lost8-sala.grad-spot::before{ 
        right: 0vw;
        background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 35%);
        
    }
} 

/*Article 9 - Memes*/
.lost9-mems{ 
    display: flex; 
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
}

.lost9-mems .lost-desc{
    align-self: flex-end;
    width: 24vw;
}

.lost9-mems-grid{
    width: 55vw;
    height: 55vw;
    margin: 10vw auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3vw;
    justify-items: center;
    align-items: center;
}

.lost9-mems.grad-spot::before{
    width: 95%;
    height: 130%;
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 60%);
}

@media only screen and (max-width: 700px){
    .lost9-mems-grid{
        width: auto;
        height: auto;
        grid-template-columns: 1fr;
        grid-gap: 10vw;
    }
}

.lost9-mems-grid img{
    width: 80%;
    box-shadow: 
        1px 2px 2px hsl(243deg 20% 25% / 0.5 ),
        2px 4px 4px hsl(243deg 20% 25% / 0.5 ),
        3px 6px 6px hsl(243deg 20% 25% / 0.5  )
    ;
}
 

/*Article 10 - End*/
.lost10-end{
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column; 
}

.lost10-end img{ 
    width: 100%;
}

.lost10-anx{
    max-width: max(250px, 20vw); 
    align-self: flex-end;
}

.lost10-anx img{
    filter: drop-shadow(1px 2px 2px hsl(243deg 20% 25% / 0.5 ));
}

.lost10-anx.grad-spot::before{ 
    display: none;
    width: 150%;
    height: 150%;
    left: -33%;
    top: -40%;
}

.lost10-end img:nth-child(2){  
    width: 40%;
}

.lost10-end .lost-desc{
    width: 20vw;
}
.lost10-end img:nth-child(4){
    align-self: flex-end;
    width: 60%;
    right: 7vw;
}

.lost10-end.grad-spot::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%; 
    right: -2vw;
    background: radial-gradient(circle, rgb(255 255 255), rgba(255, 255, 255, 0), transparent 70%);
    z-index: -1;
}

@media only screen and (max-width: 700px){
   .lost10-end{
       gap: var(--lost-row-gap);
   }
    .lost10-end img:nth-child(1),
    .lost10-end img:nth-child(2),
    .lost10-end img:nth-child(4){
        width: 100%;
        right: 0;
    }
}


/*Article 11 - Footer*/
#lost-picture .lost-msg-pc{
    width: 95%;
    text-align: center;
    font-style: oblique;
    font-size: 0.7rem;
    margin-bottom: var(--lost-row-gap);
}
#lost-picture footer{  
    text-align: justify;
    text-align-last: justify;
    width: 70%;
    margin: 0 auto; 
}

#lost-picture footer p{  
    font-size: 1.5rem;
}

@media only screen and (max-width: 700px){
    #lost-picture footer{   
        width: 90%; 
    }
    #lost-picture footer p{  
        font-size: 1rem;
    }
}



/* --A flitting thing(Vanitas)-- */
#vanitas-sect{
    background-color: white;
    padding: 4vh 4vw;
    font-family: 'Ogg-italic';
    color: black;
}


#vanitas-sect article, .vanitas-header{
    position: relative;
    height: 100vh;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    align-items: center;
}

#vanitas-sect img, #vanitas-sect-dark img{ 
    width: 50%;
}

#vanitas-sect h2{  
    position: relative;
    font-size: 4vw;  
}


#vanitas-sect article:nth-child(2){
    justify-content: flex-end;
    margin: 4vw 0;
}

#vanitas-sect article:nth-child(3){
    padding: 4vw;
}

#vanitas-sect article:nth-child(4){
    margin: 15vw 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#vanitas-sect article:nth-child(4) > img:first-of-type{
    width: 80%;
    justify-self: end;
}
#vanitas-sect article:nth-child(4) > img:last-of-type{
    width: 100%;
    align-self: end;
    left: -7vw;
    position: relative;
}
#vanitas-sect blockquote{
    grid-column: 3; 
    justify-self: center;
}

#vanitas-sect blockquote p:last-child{
    text-align: right;
    margin-top: 1rem; 
}
#vanitas-sect blockquote p{
    font-size: 1rem;
}

#vanitas-sect article:nth-child(5){
    justify-content: flex-end;
}

#vanitas-sect article:nth-child(5) img{
    width: 35%;
}

#vanitas-sect-dark {
    background-color: black;
    display: flex;
    display: -webkit-box;  
    display: -ms-flexbox;  
    display: -webkit-flex;
    flex-direction: column;
    color: white;
    font-family: 'Ogg-italic';
    padding: 11vh 4vw;
}

    
#vanitas-sect-dark > img:nth-child(2){
    align-self: flex-end;
    top: -9vw;
    position: relative;
}

.vanitas-desc{
    display: flex;
    flex-direction: row;
    width: 70%;
    margin: 4rem auto;
    flex-wrap: wrap; 
}

#vanitas-sect-dark p{
    font-family: 'Ogg';
    font-size: 1.5vw;
}

#vanitas-sect-dark h3{
    font-size: 3rem;
    margin-bottom: 3rem;
    width: 100%;
}

.vanitas-desc div{
    width: 50%;
    margin: 0 4rem 4rem 0;
}
#vanitas-sect-dark .vanitas-desc img{
    width: 35%;
    height: 35%;
}




@media all and (max-width: 820px){
    #vanitas-sect, #vanitas-sect-dark{
        padding: 10vw 2vw;
    }

    #vanitas-sect img, #vanitas-sect-dark img {
        width: 100%;
    }
    .vanitas-header{ 
        
        text-align: center; 
    }

    #vanitas-sect h2{
        left: 0;
        font-size: 7vw;
    }
    #vanitas-sect blockquote p{
        font-size: 0.8rem;
    }
    .vanitas-header,
    #vanitas-sect article,
    #vanitas-sect article:nth-child(2),
    #vanitas-sect article:nth-child(3),
    #vanitas-sect article:nth-child(5){
        height: auto;
        padding: 0;
        display: flex;
        flex-direction: column;
    }

    

    #vanitas-sect article:nth-child(4){

    }

    #vanitas-sect blockquote {
        grid-column: unset;
        grid-column-start: 2;
        grid-column-end: 4;
        margin-bottom: 8vh;
    }

    #vanitas-sect article:nth-child(4) > img:first-of-type{
        width: 70%;
        justify-self: start;
        grid-column: span 2;
    }
    #vanitas-sect article:nth-child(4) > img:last-of-type{
        width: 90%;
        left: 0;
        position: relative;
        grid-column-start: 2;
        grid-column-end: 4; 
        top: -16vh;
    }

    #vanitas-sect article:nth-child(5) img {
        width: 90%;
    }


    #vanitas-sect-dark h3{
        font-size: 2rem;
    }
    .vanitas-desc{
        flex-direction: column;
        width: 100%;
        font-size: 4vw !important;
    }



    .vanitas-desc div{
        width: 100%;
    }
    #vanitas-sect-dark .vanitas-desc img{
        width: 100%;
        max-width: 350px;
    }

    #vanitas-sect-dark > img:nth-child(2) { 
        top: 0; 
        margin: 2rem 0;
    }

    #vanitas-sect-dark p {
        font-family: 'Ogg';
        font-size: 5vw;
    }
     
}


/* -- Old Works -- */
#oldworks-sect{
    padding: 0 0;
}

#oldworks-sect > article{
    margin: 6vw 0;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;

}

#oldworks-sect figure{
    width: 100%; 
}

#oldworks-sect img{
    width: 100%;
}

.oldworks-header{
    padding: 0 6rem;
    display: flex;
    justify-content: space-between;
    height: 90vh;
    align-items: flex-end;
}

.oldworks-header h3{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.oldworks-header div{
    width: 40%;
    max-width: 500px;
    align-self: flex-end;
    justify-self: flex-end;
}

#oldworks-sect .oldworks-header img{
    width: 40%;
}

.ow-flxcolumn{
   flex-direction: column;
}

.ow-100vh{
    height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
#oldworks-sect .ow-cntr-item{
width: 60%; 
}

#oldworks-sect .ow-cntr-pair{
    padding: 0 8rem;
    justify-content: space-around;
    height: 100vh; 

}

#oldworks-sect .ow-cntr-pair figure{
    max-width: 30%;
}

#oldworks-sect figcaption{
    font-size: 0.6rem;
    margin: 1rem 0 4rem 1rem; 
    min-width: 300px;
    max-width: 600px;
}

/*individuals*/
#ow-bfore-after figure:last-of-type{
    width: 30%;
    align-self: flex-end;
    top: -16vw;
    right: 9vw;
    position: relative;
}

#ow-colg figure:last-of-type{
    align-self: flex-end;
    width: 30%;
    margin: 0 7vw;
}

#ow-victory {
    padding: 0 8rem;
    height: 100vh;

}
#ow-victory figure:first-of-type {
    width: 65%;
}

#ow-victory figure:last-of-type {
    width: 30%;
    position: relative;
    left: -9vw;
    top: 6vw;
}

#ow-dsplts figure:last-of-type{
    width: 40%;
    align-self: flex-start;
    margin: 0 8vw;
}


@media all and (max-width: 820px){
    .oldworks-header{
        padding: 6rem 2rem;
        flex-direction: column;
        height: 100vh;
        align-items: unset;

    }

    .oldworks-header div{
        align-self: unset;
        min-width: 315px;
    }

    #oldworks-sect .oldworks-header img {
        width: 100%;
    }

    #oldworks-sect > article { 
        flex-direction: column;
    }

    #oldworks-sect .ow-cntr-pair {
        padding: 6rem 2rem;
        height: unset;
    }

    #oldworks-sect .ow-cntr-pair figure {
        max-width: unset;
    }

    #ow-victory {
        padding: 0; 
        height: unset;
    }

    #ow-victory figure:last-of-type, 
    #ow-victory figure:first-of-type {
        width: 100%;
        left: 0;
        top: 0;
    }

    #ow-bfore-after figure:last-of-type {
        width: 100%; 
        top: 0;
        right: 0; 
    }

    .ow-100vh{
        height: unset;
    }

    #oldworks-sect .ow-cntr-item {
        width: 100%;
    }

    #ow-dsplts figure:last-of-type {
        width: 100%;
        align-self: flex-start;
        margin: 0;
    }

    #ow-colg figure:last-of-type {
        align-self: flex-end;
        width: 100%;
        margin: 0 ;
    }
}